.quiz-page-flex-container {
  display: flex;
  flex-direction: column;
  gap: 34px;
}
.quiz-page {
  &__title {
    font-size: 40px;
    font-weight: 700;
    margin: 0;
  }
  &__description {
    font-size: 20px;
    font-weight: 400;
    max-width: 583px;
  }
}
